body {
  margin: 0;
  padding: 32px;
  background: #212121;
  font-family: system-ui, sans-serif;
  color: #fff;
}

#srs-btn {
  float: right;
  background: linear-gradient(135deg, #8e44ad, #3498db);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 999px;
  font-weight: 600;
  box-shadow: 0 6px 14px rgba(0,0,0,0.25);
  margin-bottom: 20px;
  margin-right: 20px;
  width: 35%;
}
.back-btn {
  width: 20%;
  margin-left: 20px;
}

.path {
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 20px;
  min-width: 100%;
  padding-bottom: 800px;
}

.row {
  display: flex;
  width: 100%;
}

.row.forward {
  flex-direction: row;
}

.row.backward {
  flex-direction: row-reverse;
}

.row.turn-right {
  justify-content: flex-end;
}

.row.turn-left {
  justify-content: flex-start;
}

.cell {
  flex: 1 1 0;
  padding: 4px;
  box-sizing: border-box;
}

.cell button {
  border-radius: 20px;
  height: auto;
  min-height: 150px;
  min-width: 150px;
  font-size: 50px;
}

button {
  width: 100%;
  height: 150px;
  background: #303030;
  color: #fff;
  border: 1px solid #333;
  border-radius: 999px;
  padding: 10px 0;
  font-size: 14px;
  cursor: pointer;
  font-size: 60px;
}

@media (max-width: 600px) {
  button {
    font-size: 12px;
    padding: 8px 0;
  }
}

.russian_translation {
  font-size: 80px;
  text-align: center;
  font-family: monospace;
  margin-top: 30px;
}

.pl-translation {
  font-size: 80px;
  text-align: center;
  font-family: monospace;
  margin-bottom: 500px;
}

.progress {
  opacity: 0.6;
  font-size: 50px;
}

.next-btn {
  width: 30%;
  padding: 10px 20px;
  float: right;
  margin-right: 20px;
}

#toggle-meaning {
  position: fixed;
  width: calc(70% - 20px);
  z-index: 99;
  bottom: 300px;
  left: 20px;
}
#reveal-letter {
  position: fixed;
  width: calc(24% - 20px);
  z-index: 99;
  bottom: 300px;
  right: 20px;
}
#reveal-word {
  position: fixed;
  width: calc(24% - 20px);
  z-index: 99;
  bottom: 300px;
  right: calc(24% + 20px);
}
#reveal-all {
  position: fixed;
  width: calc(24% - 20px);
  z-index: 99;
  bottom: 300px;
  right: calc(48% + 20px);
}
#repeat-btn {
  position: fixed;
  width: calc(26% - 20px);
  z-index: 99;
  bottom: 300px;
  right: calc(72% + 20px);
}
.pl-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.speak-btn {
  border: none;
  font-size: 60px;
  cursor: pointer;
  width: 20%;
  float: right;
  margin-right: 2%;
}
button.completed {
  background: #2ecc71;
  color: #000;
  border: none;
}

button.completed:hover {
  background: #27ae60;
}
button.locked {
  background: #2c2c2c;
  color: #666;
  border: 1px solid #444;
  cursor: not-allowed;
  opacity: 0.6;
}

.next-srs-btn {
  width: 30%;
  float: right;
}

.stats-toggle {
  background: none;
  width: 8%;
  border: none;
  margin-left: 20px;
}

.dev-toggle {
  background: none;
  width: 8%;
  border: none;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin: 10px 0;
  margin-bottom: 60px;
}
.day {
  font-size: 40px;
}
.ignore-btn {
  width: 20%;
  margin-left: 2%;
}
.top-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.dev-toggle {
  background: none;
  cursor: pointer;
}
.srs-size-btn {
  width: 8%;
  background: none !important;
  border: none;
  font-size: 50px;
}
.srs-reset-ignored {
  width: 50%;
  font-size: 50px;
  margin-top: 30px;
}
.select-srs-size-btn {
  width: 15%;
}
.restore-rom-input-btn {
  width: 20%;
}
.ignore-rom-input-btn {
  width: 20%;
}

#restore-panel {
  margin-bottom: 40px;
  display: flex;
  gap: 8px;
}
#restore-panel input {
  flex: 1;
  font-size: 50px;
  padding: 20px 10px;
}

.srs-size-menu {
  margin-bottom: 40px;
}
h1 {
  font-size: 100px;
}
.header-h2 {
  font-size: 40px;
}

.fixed-bottom {
  position: fixed;
  width: 100%;
  background: #212121;
  z-index: 99;
  bottom: 0;
  left: 0px;
  padding-bottom: 120px;
  padding-top: 20px;
}

button.completed .level-number{
  display: none;
}

